.container-darshboard-layout {
  container-type: inline-size;
  container-name: container-darshboard;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100vh;
  background-color: #e0e0e0;

  & .container-dashboard-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
    width: 100%;
    border-right: 1px solid #e0e0e0;
    background-color: #ffffff;

  }

  @container container-darshboard (min-width: 1536px) {
    .container-dashboard-grid {
      width: 1536px;
      margin-left: auto;
      margin-right: auto;

    }
  }
}